.card-test {
    box-shadow: 0 0 5px #222222;
}

.checkbox-list {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-list .form-check {
    flex: 1 1 100%;
}

@media (min-width: 768px) {
    .checkbox-list .form-check {
        flex: 1 1 50%;
    }
}

@media (min-width: 992px) {
    .checkbox-list .form-check {
        flex: 1 1 25%;
    }
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
}

.card-footer * {
    flex: 1 1 100%;
}

@media (min-width: 768px) {
    .card-footer * {
        flex: 1 1 50%;
    }
}

@media (min-width: 992px) {
    .card-footer * {
        flex: 1 1 25%;
    }
}