#instruction {
    background-color: #dddddd;
    border-bottom: 2px solid #bbbbbb;
    resize: none;
}

#subjectList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.25rem;
    justify-content: space-between;
}

.btn-generateQestions {
    text-wrap: nowrap;
}

.card-footer .input-group .form-control {
    max-width: 80px;
}