#instruction {
    border-bottom: 2px solid #bbbbbb;
    resize: none;
}

#instruction.bg-light {
    background-color: #dddddd !important;
}

#instruction.bg-dark {
    background-color: #36393d !important;
}

.btn-generateQestions {
    text-wrap: nowrap;
}

.card-footer .input-group .form-control {
    max-width: 80px;
}

.dropdown-selector {
    min-width: 200px;
    text-align: left !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    gap: 0.375rem;
}

.katex-html[aria-hidden="true"] {
    display: none;
}